# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.firebase/         # directory (e.g., Firebase CLI state)
.firebaserc        # Firebase project config
firebase.json      # Firebase settings
firebase.ts        # any firebase-related TypeScript config
node_modules
.env
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
